ANNEX 3A 
MINIMUM DATA REQUIREMENTS FOR CERTIFICATE OF ORIGIN 
 
1. Exporter details 
The name and address of the Exporter. 
 
2. Shipment details (if 
known) 
 
(a) 
Consignee name and address 
 
(b) 
Sufficient details to identify the consignment, such as 
the invoice number and date, and Air Way Bill, Sea 
Way Bill, or Bill of Lading 
 
(c) 
Export Permit/Declaration  
 
(d) 
Port of Discharge 
 
3. Full Description of the 
Goods 
Detailed description of the goods, including the relevant 
code under the Harmonized Commodity Description and 
Coding System, and if applicable, product number and brand 
name. 
 
4. Exporter Declaration 
Declaration completed by a competent representative of the 
Exporter that the details provided in items 1 to 3 are true and 
correct, signed and dated by that representative and 
annotated with the representative’s name and designation. 
 
5. Certification by 
Authorised Body 
Certification completed by a competent representative of the 
authorised body that, based on evidence provided by the 
manufacturer, or any other person, the goods specified in the 
Certificate of Origin originate in the exporting Party and 
comply with the rules of origin under this Agreement.  
 
6. Certificate Number 
A unique number assigned to the Certificate of Origin by the 
authorised body of the issuing Party. 
 
 
 
  
 
 
