# Web scraping tools
beautifulsoup4
requests
pdfx
PyMuPDF
nltk
scikit-learn
git+https://github.com/samyooole/text-preprocessing.git
pytesseract
pdf2image
tabula-py
pdfplumber
"camelot-py[base]"
opencv-python