   
   
   
 
183 
 
 
ANNEX 15B  
 
PERFORMANCE REQUIREMENTS 
 
Article15.8.1 does not preclude enforcement of any commitment, undertaking, or requirement 
between private parties, where a Party did not impose or require the commitment, undertaking, 
or requirement.  For purposes of this Annex, private parties may include designated monopolies 
or government enterprises, where such entities are not exercising delegated governmental 
authority as described in Articles 12.3.1(c)(i) and 12.3.2(b) (Designated Monopolies and 
Government Enterprises), respectively.  