      ANNEX 15C   PERFORMANCE REQUIREMENTS    184       Singapore   With respect to Singapore, Article 15.8.1(f) does not apply with respect to the sale or other disposition of an investment of an investor of a non-Party in its territory.  