 
 
Appendix 2 
 
Minimum Data Requirements – Certificate of Origin 
 
The minimum data to be included in the Certificate of Origin 
are: 
 
                                                 
1  In the case of Australia and New Zealand, a Certificate of Origin or back-to-back 
Certificate of Origin which does not state the FOB value shall be accompanied by a 
declaration made by the exporter stating the FOB value of each good described in the 
Certificate of Origin. 
  46