 
 
 
 
 
 
 
 
 
 
 
 
 
 
APPENDIX 3 
 
LIST OF DATA REQUIREMENTS   LIST OF DATA REQUIREMENTS 
 
 
                                                           
1  In the case of goods exported from and imported by Cambodia and Myanmar, the 
FOB value shall be included in the Certificate of Origin or the back-to-back Certificate 
of Origin for all goods, irrespective of the origin criteria used, for two (2) years from 
the date of entry into force of the First Protocol or an earlier date as endorsed by the 
Committee on Trade in Goods.  
The FOB value, where required to be included in the back-to-back Certificate of 
Origin, shall be the FOB value of the goods exported from the intermediate Party. 
In the case of Australia and New Zealand, a Certificate of Origin or back-to-back 
Certificate of Origin which does not state the FOB value, in cases where this would 
otherwise be required, shall be accompanied by a declaration made by the exporter 
stating the FOB value of each good described in the Certificate of Origin. 