 
 
45
 
Appendix 1 
 
Minimum Data Requirements – Application for a 
Certificate of Origin 
 
The minimum data to be included in an application for a 
Certificate of Origin are: 
 
1. 
Exporter details 
The name, address and contact details of the 
exporter 
2. 
Shipment details 
(a separate 
application must 
be made for 
each shipment) 
 
(i) 
Consignee name and address  
(ii) Sufficient details to identify the consignment, 
such as importer’s purchase order number, 
invoice number and date and Air Way Bill or 
Sea Way Bill or Bill of Lading 
(iii) Port of Discharge, if known 
 
3. 
Full description 
of goods 
(i) Detailed description of the goods, including 
HS Code (6-digit level), and if applicable, 
product number and brand name 
(ii) The relevant origin conferring criteria 
 
4. 
Exporter’s 
declaration  
Declaration completed by the exporter or its 
authorised representative, signed and dated, and 
annotated 
with 
the 
signatory’s 
name 
and 
designation. The declaration shall include a 
statement that the details provided in the 
application are true and correct 
 
 
